# Python
__pycache__/
*.pyc
.python-version
venv/

# Checkpoints & Weights
*.pth
*.pth.tar
checkpoints/
best.pth

# Dataset
arcade/
arcade.zip
temp/

# macOS
.DS_Store
samples/.DS_Store
samples/**/.DS_Store

# Local notes
TODO.md
CLAUDE.md

# Sonstiges
*.zip

samples/
prepare_masks.py
arcade/
